<html>

<head>
    <!--Top 메뉴-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/graph.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>퍼스널 트레이닝</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!--로그인창-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Style -->
    <link href="css/style.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="javascripts/web_login.js"></script>
</head>
<!--
<script>
    $("#login-form").submit(function(evt) {

        evt.preventDefault();
        var formData = $("#login-form").serialize();

        $.ajax({
            type: "POST",
            url: "/weblogin",
            cache: false,
            data: formData,
            success: function(data, status) {

                if (data.success == true) {
                    location.href = '/main';
                } else if (data.success == false) {
                    $('#login-err-span').text("로그인에 실패하였습니다.");
                }
            },
            error: function(data, status) {
                $('#login-err-span').text("서버 연결 실패");
            }
        });
    });
</script>
-->

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- 브라우저가 좁아졋을때 나오는 버튼(클릭시 메뉴출력) -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/webmain">Hel-Per</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="user" value="user"><a href="/graph">User</a></li>
                    <li id="qa" value="qa"><a href="/post">Q & A</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="page-header">
            </div>
            <div class="col-md-3">
                <div class="login-box well">
                    <form id="login_form"accept-charset="UTF-8" role="form" method="post" action="">
                        <legend>로그인</legend>
                        <div class="form-group">
                            <label for="username-email">이메일 or 아이디</label>
                            <input name="user_id" value='' id="user_id" placeholder="E-mail or Username" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input name="password" id="password" value='' placeholder="Password" type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default btn-login-submit btn-block m-t-md" value="Login" />
                        </div>
                        <div class="form-group">
                            <!--<a href="" class="btn btn-default btn-block m-t-md"> 회원가입</a>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
